 .home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .hero-section {
    background: linear-gradient(to right, #260545, #7315a6);
    border-radius: 30px;
    background-size: cover;
    background-position: right;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: left;
    padding: 2rem;
    margin: 2rem;
    gap: 30px;
  }
  
  .hero-section img {
    height: 250px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.8); /* White shadow */
  }
  
  .hero-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .search-bar {
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    margin-top: 1rem;
    width: 300px;
    background-color: #1e1e2f;
    color: white;
    outline: none;
    font-size: 1rem;
  }
  
  .coins-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .coin-card {
    background-color: #1e1e2f;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .coin-card:hover {
    background-color: #2e2e44;
    transform: translateY(-5px);
  }
  
  .coin-name {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #d4a373;
  }
  
  .coin-symbol {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #ffffff99;
  }
  
  .coin-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
  }

  .her
  .search-bar {
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 60%;
  }
  