/* styles/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
  color: #fff;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.home-link {
  display: flex;
  align-items: center; /* This will vertically align the logo and text */
  text-decoration: none;
  color: inherit;
}

.logo-image {
  width: 80px; 
  margin-right: 0.5rem; 
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar-right .nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar-right .nav-link:hover {
  color: #b490e5; /* Hover effect */
}

@media (max-width: 768px) {
  .navbar-right .nav-link {
    display: none;
  }

  .navbar {
    padding: 1rem;
  }
}
