body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0d0221;
  color: white;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}
